<div class="app-page">
  <div class="app-page__header">
      <h1>Welcome to Litethinking Technical Test</h1>
      <h2>PRUEBA TÉCNICA LITE THINKING - 2022</h2>
  </div>

  <div class="app-page__content">
      <p><b>Objetivo de la prueba: </b>Validar sus conocimientos y técnicas en desarrollo de aplicaciones
        en el lenguaje C# (.NET Core) y Framework Angular o VueJS.</p>
      <p>No está descrito en la prueba, pero tener en cuenta documentación y buenas prácticas de
        desarrollo (Principios SOLID, pruebas unitarias, documentación, entre otros).</p>
      <p><b>Descripción de la prueba: </b>Construir una aplicación que exponga las siguientes vistas:
      </p>
      <p><b> 1. </b> Inicio de sesión con un formulario que capture la información del usuario: correo y
        contraseña.</p>
      <p><b> 2. </b> Luego de ingresar, poder registrar la siguiente información de una empresa: nombre
        de la empresa, dirección, NIT, teléfono (con sus respectivas validaciones).</p>
      <p><b> 3.</b> Inventario: se debe poder descargar un PDF con la información de esa tabla y
        adicional utilizar alguna API como Amazon Simple Email Service (SES) de AWS u otra
        (puede ser algún producto de Azure), para poder enviar ese PDF a un correo deseado.</p>
        <br>
      <p>Deben existir dos usuarios:</p>

      <p><b> Administrador:  </b> Tiene acceso a las funciones de eliminación, registro y/o edición de
        una empresa. Adicionalmente, este usuario podrá registrar artículos por empresa y
        guardarlos en una tabla inventario, donde se vean los artículos por empresa.</p>
      <p><b> Externo: </b>  Puede visualizar las empresas como visitante.</p>
  </div>
</div>
